In [1]:
import pandas as pd
spam=pd.read_csv(r"C:\Users\Riya\OneDrive\Desktop\Kaggle\spam_ham_dataset.csv")

In [2]:
spam.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [4]:
spam.columns

Index(['Unnamed: 0', 'label', 'text', 'label_num'], dtype='object')

In [10]:
spam.drop(['Unnamed: 0','label_num'],axis='columns',inplace=True)
spam.head()

  label                                               text
0   ham  Subject: enron methanol ; meter # : 988291\r\n...
1   ham  Subject: hpl nom for january 9 , 2001\r\n( see...
2   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...
3  spam  Subject: photoshop , windows , office . cheap ...
4   ham  Subject: re : indian springs\r\nthis deal is t...

In [11]:
spam.groupby('label').describe()

       text
      count unique                                                top freq
label
ham    3672   3531  Subject: calpine daily gas nomination\r\n>\r\n...   20
spam   1499   1462                                      Subject: \r\n   16

In [13]:
spam['spam']=spam['label'].apply(lambda x:1 if x=='spam' else 0)
spam.head()

  label                                               text  spam
0   ham  Subject: enron methanol ; meter # : 988291\r\n...     0
1   ham  Subject: hpl nom for january 9 , 2001\r\n( see...     0
2   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...     0
3  spam  Subject: photoshop , windows , office . cheap ...     1
4   ham  Subject: re : indian springs\r\nthis deal is t...     0

In [16]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(spam.text,spam.spam,test_size=0.25)

In [17]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
x_train_count=v.fit_transform(x_train.values)
x_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [18]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(x_train_count,y_train)

MultinomialNB()

In [19]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1], dtype=int64)

In [20]:
x_test_count=v.transform(x_test)

In [21]:
model.score(x_test_count,y_test)

0.9845320959010054

In [25]:
#PIPELINE APPROACH
from sklearn.pipeline import Pipeline

clf=Pipeline([('vectorizer',CountVectorizer()),('nb',MultinomialNB())])

In [26]:
clf.fit(x_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [27]:
clf.score(x_test,y_test)

0.9845320959010054

In [28]:
clf.predict(emails)

array([0, 1], dtype=int64)